.vscode/
.DS_Store
__pycache__/
*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
outputs/*
checkpoints/*.pt
demo/backend/checkpoints/*.pt

# SAM2 - exclude everything non-Python
sam2/demo/frontend/
sam2/demo/data/
sam2/notebooks/videos/
sam2/notebooks/images/
sam2/notebooks/*.ipynb
sam2/assets/
sam2/sav_dataset/example/
sam2/sam2/csrc/
*.mp4
yarn.lock
*.ts
*.tsx
*.scss
*.graphql
*.vert
*.frag
*.json
*.yaml
*.iml
*.md
*.jpg
*.js
*.png
*.ipynb
